include README.md
include cpp/CMakeLists.txt

# C++ sources
recursive-include cpp *.cpp *.hpp
recursive-include cpp/ortools *

# Python package
recursive-include python/sirius *.py
recursive-include python/sirius/GeneDiversifier *.py
recursive-include python/sirius/GeneDiversifier/data *.csv
include python/sirius/resources/py27_env.tar.xz

# Do not include caches or stray builds
prune **/__pycache__
prune **/.pytest_cache
exclude **/*.pyc
exclude build_temp/*
